<% var selectedTab = "index"; %> 

<%- include("header", {selectedTab: selectedTab}) -%> 

    <h1 class="d-flex mx-auto justify-content-center text-align-center align-content-center pt-5 mt-5">Welcome to the Inter-Valley Quiz Championship.</h1>
    <h4 class="d-flex mx-auto justify-content-center text-align-center align-content-center pt-5">Sponsor + Video contents go here</h4>
    
    
</body>
</html>