<% var selectedTab = "rounds"; %>

<%- include("header", {selectedTab: selectedTab}) -%>

<div class="container p-5">
    <h1 class="p-5">Rounds</h1>
    <ol class="px-5">
        <li><strong>Race for the Horizon: </strong>Students will be allowed to choose any number from 1 to 30. Questions placed on the number will be asked. Each question weighs 10 points and the passed questions weigh 5 points. There will be no negative marking.</li><br/>
        <li><strong>Pick your wand: </strong>Each team will get a chance to select a topic from the above-mentioned topics. There will be a mystery topic called ‘Chamber of Secret’, described the moment before the game. The weightage of each question on the rest of the rounds will be 10 and no negative marking will be made.</li><br/>
        <li><strong>Hit it home!: </strong>Students will be asked a variety of questions from the text book of Grade 8,9 & 10.</li><br/>
        <li><strong>Birdbox: </strong>This round comprises audio and picture-related ques-tions. Correct answers to a direct question by a team provides them with 10 points while 5 points are awarded for the past questions.</li><br/>
        <li><strong>Fast & Furious: </strong>Each team will get 10 questions which they will have to answer within a minute. Each correct answer will give 5 points and no negative marking will be made.</li><br/>
        <li><strong>Hunger Games: </strong>This round will not be included in the elimination phase. Five hints will be given to a question. Teams will have to press the buzzer to give the answer. If a team gives correct answer in the first clue, they will score 50 bonus points. Wrong answer or no answer after buzzer will result in negative marking of 50 points. The subsequent hints will result in addition 40, 30, 20, and 10 points, and equal negative marking for wrong attempt.
        </li><br/>
        <li><strong>Bullseye: </strong>This round will be only included in the Finals. There is a provision for negative marking in this round. Students are asked a question with four options (if they desire). If the team answers the question without any options, then they’ll be awarded 20 points and the wrong answer will get their their scores deducted by 20 points. Similarly if they ask for the option and make it correct then they will secure 10 points where as wrong answer in this phase will deduce their score by the same 10 points.</li><br/>
        <li><strong>The Three Musketeers: </strong>This round includes question being asked to all the three participants of each team. All three correct answer ensures 50 points to the team, two correct answer ensures 25 points, one correct answer ensures 10 points and no correct answer ensures -10 negative marking for each team.</li><br/>
    </ol>
</div>

</body>

</html>