<% var selectedTab = "rules"; %> 

<%- include("header", {selectedTab: selectedTab}) -%> 

<div class="container p-5">
    <h1 class="p-5">Rules and Regulations</h1>
    <ul class="px-5">
        <li>Each school is eligible to select up to 4 independent teams for the event, each team consisting of 4 students and 1 teacher.
        </li><br/>
        <li>The students from class IX to XII are eligible to participate in the contest.</li><br/>
        <li>Students must attach a photo of their school ID card during registration.</li><br/>
        <li>There must be a guiding teacher from the school to accompany the students.</li><br/>
        <li>The total number of participants will be 4 in each group with 3 main members and 1 substitute.</li><br/>
        <li>A maximum of four teams can participate from one school. The registration charge per team is Rs. 3,000 and should be submitted at the very time of registration. If the school brings two teams, then the registration charge is Rs. 5,250 (discount of NRs. 750), and the total registration charge for the school that makes three and four teams available will be only Rs. 7,500 (discount of NRs. 1500) and Rs.10,500 (discount of NRs. 1500) respectively.</li><br/>
        <li>The event will start from 21st Kartik, 2079 whereas the deadline for registration is second week of Ashwin, 2079.</li><br/>
        <li>Participants are expected to be in school uniform accompanied by school representatives.</li><br/>
        <li>Any type of controversy regarding the questions will be settled by the program organizers. The decision made by the organizers will be considered final.</li><br/>
        <li>Questions will be asked in both English and Nepali language for the convenience of participants. The main language of communi-cation during the event is English.</li><br/>
        <li>The time duration for direct questions is 30 seconds and 10 seconds for passed questions.</li><br/>
        <li>Questions will be asked in both clockwise as well as anti-clock-wise directions.</li><br/>
        <li>For direct questions, students are awarded 10 points for each correct answer, and for each passed question's correct answer, each team will get 5 points. There is no negative marking for wrong answers, except in the selected rounds.</li><br/>
        <li>The questions will be included from the following fields: <em>History, Literature, Geography, Religion & Culture, Science & Technology, Sports & Entertainment, IQ & Math, Current Affairs, Astronomy, Business & Economics.</em></li><br/>
        <li>Mischievous activities, misbehavior, acts of cheating, or use of electronic devices & reference material will not be tolerated during the event and will result in the expulsion of participants.</li><br/>
    </ul>
</div>
</body>
</html>